

html{
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 1.875em;
	
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .0.75em;
}

p {
	font-size: .875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 38px 0;
	border-bottom: 3px #77a466 solid;

}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	flex-flow: nowrap;
	align-items: center;
	
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	align-content: space-around;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image {
	width: 100%;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	width: 100%;
}
.main-title h2 {
	width: 100%;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	width: 100%;
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
	font-size: 1em;
	width: 100%;
}

.section-two {
	width: 100%;
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
	font-size: 1em;
	width: 100%;

}

.menu {
	list-style: none;
	padding: 0;
	width:100%;

}
.menu li {
	padding: 10px 0;
	color:#77a466;
	width: 100%;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	width: 100%;
}

.address {
	font-size: 1em;
	line-height: 24px;
	width: 100%;
}

/*The widths are in a percentage!*/
footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 768px) {

.section-one,
.section-two,
.section-three {

	display:flex;
	width: 33%;
	height: 300px;
}
header nav ul li {
	display: flex;
}
header h1 {border-bottom: 3px #77a466 solid;}


}
/*DESKTOP*/

@media screen and (min-width: 769px) and (max-width: 1200px){
	.section-one,
	.section-two,
	.section-three {
		display: flex;
		flex-flow: row wrap;
		width: 33%;
		height: 250px;
}
header nav {
	width:100%;
	background-color: green;
}
header nav ul{
	flex-flow: row nowrap;
}
header h1{
	width:100%;
	text-align: left;
	border: none;

}

}
